/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Variable */

:root {
  --primary-text-color: #08415c;
  --secondary-text-color: #575366;
  --accent-color: #00cc66;
  --accent-color-dark: #005229;
}

/* Global Styles */

body {
  font-family: "Noto Sans", sans-serif;
  color: var(--primary-text-color);
  background-color: #495159;
}

p {
  font-family: "Ubuntu", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

/* Main Styling */

.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

/* Nav section */

nav {
  background-color: #d0e1d4;
  box-shadow: 0 0 10px #1212138f;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

.company-logo img {
  width: 120px;
}

.nav-links ul {
  gap: 16px;
}

.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  color: var(--secondary-text-color);
}

.hover-link:active {
  color: #ff0000;
}

.nav-item.active {
  color: var(--accent-color);
}

.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: none !important;
  font-family: "Ubuntu", sans-serif;
}

.news-input::placeholder {
  color: var(--secondary-text-color);
}

.news-input:focus {
  outline: none;
}

.search-button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.search-button:hover {
  background-color: var(--accent-color-dark);
}

/* Hero section */

main {
  padding-block: 20px;
  margin-top: 80px;
}

.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}

.card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 10px #131313;
  border-radius: 4px;
  cursor: pointer;
  background: #c7ccd1;
  overflow: hidden;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 2px 2px 12px #131313;
  background-color: #e9ebed;
  transform: translateY(-2px);
}

.card:hover img {
  filter: brightness(0.8);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
  transform: scale(1.02);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  filter: blur(1px);
  transition: all 0.3s;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--accent-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Responsive design */

@media screen and (max-width: 1090px) {
  .company-logo img {
    width: 100px;
  }

  .nav-links ul {
    gap: 10px;
  }

  .card {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .company-logo img {
    width: 100px;
  }

  .nav-links ul {
    gap: 10px;
  }

  .card {
    width: 260px;
  }
}

@media screen and (max-width: 780px) {
  .company-logo img {
    display: none;
  }

  .nav-links ul {
    gap: 10px;
  }

  .card {
    width: 180px;
  }
}

@media screen and (max-width: 550px) {
  .nav-links {
    margin-right: 90px;
  }

  .nav-links ul {
    gap: 15px;
  }

  .search-bar {
    display: none;
  }

  .card {
    width: 100%;
  }
}
